body{
  background-color: #daedd6;
}

.bus-layout td {
  border: 2px solid #ccc;
  padding: 10px;
  width:50%;
  height: 50%;
  text-align: center;
}

.bus-layout {
   /* margin: auto;  */
   margin-top: 80px;
   margin-left: 80px;
  max-width: 400px;

}

table {
  border-collapse: collapse;
  width: 90%;
}

td {
  padding: 20px;
  text-align: center;
}

a {
  background-color: #e6e6e6;
  border-radius: 18px;
  display: inline-block;
  font-size: 13px;
  margin: 5px;
  padding: 10px;
  text-decoration: none;
  width: 16px;
}

a:hover {
  background-color: #bfbfbf;
  color: #fff;
}

.seat {
  background-color: #07b11d;
}

.seat.selected {
  background-color: rgb(212, 231, 9);
}


