body{
  background-color: #edf6ed;
  overflow: hidden;
}

.bus-layout td {
  border: 2px solid #100f0f;
  padding: 10px;
  width:50%;
  height: 50%;
  text-align: center;
}

.bus-layout {
   /* margin: auto;  */
   margin-top: 80px;
   margin-left: 80px;
  max-width: 500px;
  max-height: 400px;

}

table {
  border-collapse: collapse;
  width: 95%;
}

td {
  padding: 20px;
  text-align: center;
}

a {
  background-color: #595757;
  border-radius: 18px;
  display: inline-block;
  font-size: 13px;
  margin: 5px;
  padding: 10px;
  text-decoration: none;
  width: 16px;
}

a:hover {
  background-color: #bfbfbf;
  color: #fff;
}

.bus-layout .seat.selected {
  background-color: yellow;
}
.bus-layout .seat.booked {
  background-color: red;
  cursor: not-allowed;
}


/* css for the passenger information */

.form-container {
  width: 100%;
  max-width: 350px;
  max-height: 550px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border-radius: 10px;
  position: relative;
  bottom: 350px;
  left: 250px;
}

.form-container h3 {
  margin-top: 5px;
  font-size: 24px;
  font-weight: bold;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  margin-bottom: 1px;
  font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 1px;
}

.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="tel"]:focus,
.form-container select:focus {
  outline: none;
  border: 1px solid #6699cc;
}

button[name="submit"] {
  background-color: #6699cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

button[name="submit"]:hover {
  background-color: #336699;
}





