* {
    box-sizing: border-box;
  }
  
  body {
    background-image: url("https://images.unsplash.com/photo-1623972482895-408494e1b7f4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80");
    background-size: cover;
    font-family: Arial, sans-serif;
    overflow: hidden;
  }
  
  header {
    
    color: #000;
    padding: 20px;
    text-align: center;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input, textarea {
    border-radius: 5px;
    border: 1px solid #ccc; /* add a 1px solid border */
    padding: 10px;
    font-size: 16px;
  }
  
  
  button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }
  