/* CSS for login form container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-box {
  width: 350px;
  padding: 40px;
  border: 1px solid #ccc;
  box-shadow: 0 0 20px #ccc;
  background-color: #fff;
}

.login-header h1 {
  text-align: center;
  margin-bottom: 20px;
}

.login-body label {
  display: block;
  margin-bottom: 10px;
}

.login-body input[type="text"],
.login-body input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}

.login-body button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-body button[type="submit"]:hover {
  background-color: #3e8e41;
}

.login-body a {
  text-decoration: none;
  color: #007bff;
}

.login-body a:hover {
  text-decoration: underline;
}

/* CSS for background image */
body {
  background-image: url("https://images.unsplash.com/photo-1610290621034-3e4754ada6ca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}
