nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    margin-top: 0%;

  }
  
  .nav-left {
    display: flex;
    align-items: center;
  }
  
  .logo a {
    color: #fff;
    font-size: 20px;
    margin-right: 50px;
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-right: 60px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-right {
    display: flex;
    align-items: center;
  }
  
  .login-register {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .login-register li {
    margin-left: 5px;
  }
  
  .login-register li a {
    color: #fff;
    text-decoration: none;
  }